<div class="container-fluid text-center px-0">
  <div class="row">
    <div class="col-12">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% @items.each do |item| %>
            <div class="swiper-slide">
              <%= image_tag item.image, class: "swiper-lazy swiper-slide-img" %>
              <!--<div class="slide-content">-->
              <!--  <h4>%= item.name %></h4>-->
              <!--  <p>%= item.description %></p>-->
              <!--  <p>%= item.excluding_tax_price %> 円</p>-->
              <!--  %= link_to '詳細', item_path(item), class: "btn btn-info btn-sm" %>-->
              <!--</div>-->
            </div>
          <% end %>
        </div>
      </div>
      <div class="main-text">
        <div class="main-contianer">
          <h2>ようこそ、ながのCAKEへ！</h2>
          <h4>このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧はできますが、<br>購入には会委員登録が必要になります。</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9 offset-3">

    </div>
  </div>
</div>


    <div class="col-2 border">
      <table class="table">
        <h4>ジャンル一覧</h4>
        <% @genres.each do |genre| %>
          <tbody>
            <tr>
              <th><%= genre.name %></th>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>