<div class="container text-center">
  <div class="row mt-5">
    <div class="col-2 border">
      <table class="table">
        <h4>ジャンル一覧</h4>
        <% @genres.each do |genre| %>
          <tbody>
            <tr>
              <th><%= link_to genre.name, items_path %></th>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-10">

    </div>
  </div>
  <div class="row">
    <div class="col-9 offset-3">

    </div>
  </div>
</div>

