<div class="container">
  <div class="row main-row">
    <div class="col-10 mx-auto">
      <div class="col-7 text-center title">
       <span style= "font-size: 30px;"><%= @customer.last_name %><%= @customer.first_name %></span><span style= "font-size: 20px;">さんの</span><span style= "font-size: 30px;">注文履歴</span>
      </div>

      <% if @orders.present? %>

     <table class="table table-hover mt-3">
     <tr>
       <th class="bg-success">購入日時</th>
       <th class="bg-success">注文個数</th>
       <th class="bg-success">注文ステータス</th>
      </tr>

      <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.created_at.in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M:%S"),admin_order_path(order.id),class: "text-decoration-none" %></td>
        <td><%= order.order_details.sum(:amount) %></td>
        <td>
          <% if order.order_status.to_sym == :waiting_for_payment %>
          入金待ち
          <% elsif order.order_status.to_sym == :payment_confirmation %>
            入金確認
          <% elsif order.order_status.to_sym == :in_production %>
            制作中
          <% elsif order.order_status.to_sym == :preparation_for_shipping %>
            発送準備中
          <% elsif order.order_status.to_sym == :sent %>
          発送済み
          <% end %>
        </td>
      </tr>
      <% end %>
     <% else %>
     <h1 class="text-center mt-5">まだ注文していません</h1>
     <% end %>

     </table>
    </div>
  </div>
</div>