html {
  height: 100%;
}

body {
  background-color: #eee9e6;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  background-color: #583822;
}

#footer {
  background-color: #d8a373;
  position: sticky;
  top: 100vh;
  width: 100%;
  height: 80px;
}

// swiperの記述

.swiper-slide1 {
  position: relative;
}
.swiper-slide-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: black;
  width: 200px;
  height: 150px;
  text-align: center;
}

.main-text {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  width: 50%;
  height: 45%;
  position: absolute;
  top: 30%;
  left: 8%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: calc(100% - 30px);
  text-shadow: 0px 0px 10px white;
}

.text-container {
  text-align: center;
}

.swiper-wrapper-about-top {
  transition-timing-function: linear;
}
.swiper-wrapper-about-bottom {
  transition-timing-function: linear;
}
.about-slide-img {
  height: auto;
  width: 100%;
}