html {
  height: 100%;
}

body {
  background-color: #eee9e6;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  background-color: #583822;
}

#footer {
  background-color: #d8a373;
  position: sticky;
  top: 100vh;
  width: 100%;
  height: 80px;
}

.main-row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 30px;
  font-size: 40px;
}

// swiperの記述

.swiper-slide1 {
  position: relative;
}
.swiper-slide-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: black;
  width: 200px;
  height: 150px;
  text-align: center;
}

.main-text {
  // background-color: rgba(255, 255, 255, 0.3);
  color: black;
  width: 50%;
  height: 35%;
  position: absolute;
  top: 90%;
  left: 8%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 10px white;
}
.main-text h1 {
  margin-bottom: 30px;
}
.main-text p {
  margin-bottom: 10px;
}

.text-container {
  text-align: center;
}

.swiper-wrapper-about-top {
  transition-timing-function: linear;
}
.swiper-wrapper-about-bottom {
  transition-timing-function: linear;
}
.about-slide-img {
  height: auto;
  width: 100%;
}
.genre-title {
  text-shadow: 0px 0px 10px white;
}

.thanks-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.swiper-slide-complete {
  position: relative;
}

.thanks-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thanks-row {
  margin-top: 100px;
}
.snow {
  /*雪の色*/
  color: snow;
  /*雪の大きさ*/
  font-size: 10px;
  /*初期位置*/
  position: fixed;
  top: -5%;
  /*雪を適当な幅で降らせる*/
  text-shadow:
  5vw   -100px 2px,
  10vw  -400px 3px,
  20vw  -500px 4px,
  30vw  -580px 1px,
  39vw  -250px 2px,
  42vw  -340px 5px,
  56vw  -150px 2px,
  63vw  -180px 0,
  78vw  -220px 4px,
  86vw  -320px 9px,
  94vw  -170px 7px;
  /*雪アニメーション1*/
  animation: roll 5s linear infinite;
}
  /*2つめの雪アニメーション*/
.snow2nd{animation: anim 8s linear infinite;}

@keyframes roll {
    0% {transform:rotate(0deg);}
   90% {opacity:1;}
   100% {transform:rotate(20deg);top:100%;opacity:0;}
}
@keyframes anim {
  100% {color:transparent;top:150%;}
}

.snow {
  z-index: 5;
}
.snow2nd {
  z-index: 5;
}

.thanks-message {
  text-shadow: 0px 0px 10px white;
}