// 変数のカスタマイズ
$primary: #007bbb;
$secondary: #941f57;
$success: #c3d825;
$danger: #d7003a;
$warning: #fcc500;
$info: #2cd4ab;
$light: #ffffff;
$dark: #4e454a;

// SCSSをインポート
@import '~bootstrap/scss/bootstrap';

// 普通の記述
body {
  background-color: #eee9e6;
  height: 100%;
}

html {
  height: 100%;
}

.navbar {
  background-color: #583822;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#content-wrap {
  flex: 1;
}

#footer {
  background-color: #d8a373;
  text-align: center;
  color: #fff;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
}