<div class="container">
  <div class="row thanks-row">
    <div class="col-12 px-0">
      <div class="swiper swiper-complete">
        <div class="swiper-wrapper swiper-swapper-complete">
          <%= @thanks.each do |item| %>
            <div class="swiper-slide swiper-slide-complete">
              <%= image_tag item.image.attached? ? item.image : 'no_image.jpg', class: "thanks-image" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="thanks-content">
        <h2 class="title thanks-message">ご注文ありがとうございました！</h2>
      </div>
    </div>
  </div>
</div>
<script src="https://app.embed.im/snow.js" defer></script>