<table class="table">
  <h4>ジャンル検索</h4>
  <% genres.each do |genre| %>
    <tbody>
      <tr>
        <th><%= link_to genre.name, items_path(genre_id: genre.id), method: :get %></th>
      </tr>
    </tbody>
  <% end %>
</table>